header {
    background: linear-gradient(to bottom left, #648d35, #46bfe1);
    color: rgb(173, 178, 203);


}

.navbar {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container {
    background-color: rgba(0, 0, 0, 0) !important;
}

.navbar .container .navbar-brand {
    color: rgb(20, 20, 21);
}

.navbar .container .navbar-brand .nav-link {
    color: rgb(173, 178, 203);
    border-radius: 10px;
    padding: 8px 16px;
}

.navbar .container .navbar-nav .nav-link.active {
    background-color: rgb(127, 68, 255) !important;
    color: white !important;
}