.container {
    color: white;
    background-color: transparent;
    height: 100vh;
   // background: linear-gradient(to right, #8deef3, #1b8280);
}

.login-form{
    margin-top: 10px;
    background-color: rgb(12,12,55);
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border:  1px solid rgb(32,34,60);
    align-items: center;
    justify-content: center;
}
.login-header{
    text-align: center;
    color: rgb(105,244,181);
    margin-bottom: 20px;
}
.form-control{
    background-color: whitesmoke;
    border:  none;
    color: rgb(29, 22, 22);
}
.form-control:focus{
    background-color: whitesmoke;
    border-color: red;
}
.password-field{
    position: relative;
}
.password-toggle{
    position: absolute;
    top: 67%;
    right: 10px;
    transform: translateY(-50%);
    color: black;
    cursor: pointer;
}
.checkbox-text input[tyle="checkbox"]:checked{
    border-color: green;
    background-color: rgb(233,66,170);
}
.form-check-input{
    margin-right: 5px;
    
}
.register-link{
    color: rgb(105,244,181);
    text-decoration:underline;
    font-size: 15px;
}
.checkbox-text{
    color:rgb(105,244,181);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.access-right{
    margin-top: 20px;
    width: 150px;
    color: white;
    border: 1px solid rgb(113, 231, 111);
    background-color: transparent;
    margin-bottom: 10px;
}
.access-right:focus{
    border: 1px solid rgb(17, 220, 54);
    background-color: transparent;
}
.form-control::placeholder{
    color: rgba(243,165,42,0.4);
    opacity: 1;
}
.form-control:-ms-input-placeholder{
    color: rgba(243,165,42,0.4);
}
.form-control::-ms-input-placholder{
    color: rgba(243,165,42,0.4);
}
.login-button{
    background: linear-gradient(to right, rgb(225,64,180), rgb(126,43,237));
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
}
.divider{
    height: 1px;
    background-color: azure;
    margin: 20px;
}