<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1 class="title">Home Page</h1>
        <p>Thank for choosing my store</p>
    </div>
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/18525573/pexels-photo-18525573/free-photo-of-anh-sang-phong-c-nh-dan-ong-nh-ng-ng-i.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="" class="product-image">
                            <span class="product-name">Name product 1</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>$150</td>
                    <td>$300</td>
                </tr>
                <tr>
                    <td>
                        <div class="product-info">
                            <img src="https://images.pexels.com/photos/18525573/pexels-photo-18525573/free-photo-of-anh-sang-phong-c-nh-dan-ong-nh-ng-ng-i.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="" class="product-image">
                            <span class="product-name">Name product 2</span>
                        </div>
                    </td>
                    <td>2</td>
                    <td>$150</td>
                    <td>$300</td>
                </tr>
            </tbody>
        </table>
        <div class="text-center mt-3">
            <button class="btn btn-gradient" type="button">Continue to buying</button>
        </div>
    </div>
</div>
<app-footer></app-footer>